{% extends "layout.html" %} <br />
{% block title %}Tweet List{% endblock title %}
<br />
{% block content %}
<h3 style="text-align: center" class="pt-2">Welcome to Thought Share</h3>
<p style="text-align: center"><i>Read or share you thoughts here...</i></p>
<div class="py-2 pb-4">
  <a class="btn btn-primary" href="{% url 'tweet_create' %}"> Create a Tweet</a>
</div>

<div class="container row gap-5">
  {% for tweet in tweets %}
  <div class="card" style="width: 18rem">
    <img
      src="{{tweet.image.url}}"
      class="card-img-top py-2"
      style="height: 150px; width: 260px; object-fit: fill; border-radius: 10px"
    />
    <div class="card-body">
      <h5 class="card-title">{{tweet.user.username}}</h5>
      <p class="card-text">{{tweet.text}}</p>
      {% if tweet.user == user %}
      <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-primary">Edit</a>
      <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger"
        >Delete</a
      >
      {% endif %}
    </div>
  </div>

  {% endfor %}
</div>

{% endblock content %}
